In [278]:
## Cleaning the raw data for NYC TAXI FARE PREDICTION Project

In [1]:
import pandas as pd
import glob

In [2]:
files = glob.glob("Data/*.parquet")
files

['Data/yellow_tripdata_2025-09.parquet']

In [3]:
ff = files
ff

['Data/yellow_tripdata_2025-09.parquet']

In [282]:
dfs = [pd.read_parquet(f) for f in ff]

combined = pd.concat(dfs, ignore_index=True)

In [283]:
combined.shape

(4251015, 20)

In [284]:
df = combined
#df = pd.read_csv(r"D:\DATA\Project\8420\Taxi_data.csv")

In [285]:
df.head(50)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,2,2025-09-01 00:19:20,2025-09-01 00:45:17,1.00,9.92,1.00,N,138,114,1,42.90,6.00,0.50,10.73,0.00,1.00,66.13,2.50,1.75,0.75
1,2,2025-09-01 00:15:20,2025-09-01 00:26:08,2.00,6.82,1.00,N,93,157,1,26.80,1.00,0.50,5.86,0.00,1.00,35.16,0.00,0.00,0.00
2,2,2025-09-01 00:06:07,2025-09-01 00:22:23,1.00,3.95,1.00,N,68,13,1,19.80,1.00,0.50,5.11,0.00,1.00,30.66,2.50,0.00,0.75
3,2,2025-09-01 00:49:47,2025-09-01 01:04:49,1.00,3.14,1.00,N,234,87,1,17.70,1.00,0.50,3.52,0.00,1.00,26.97,2.50,0.00,0.75
4,2,2025-09-01 00:05:00,2025-09-01 00:15:32,6.00,2.81,1.00,N,230,151,1,14.90,1.00,0.50,4.13,0.00,1.00,24.78,2.50,0.00,0.75
5,1,2025-09-01 00:16:53,2025-09-01 00:29:36,2.00,2.00,1.00,N,79,164,1,14.20,4.25,0.50,4.00,0.00,1.00,23.95,2.50,0.00,0.75
6,1,2025-09-01 00:33:01,2025-09-01 00:43:13,2.00,3.10,1.00,N,164,236,1,14.90,4.25,0.50,4.10,0.00,1.00,24.75,2.50,0.00,0.75
7,1,2025-09-01 00:56:37,2025-09-01 01:08:35,1.00,1.00,1.00,N,170,229,1,12.10,4.25,0.50,3.55,0.00,1.00,21.40,2.50,0.00,0.75
8,2,2025-09-01 00:13:47,2025-09-01 00:44:46,1.00,6.41,1.00,N,79,177,1,33.80,1.00,0.50,7.91,0.00,1.00,47.46,2.50,0.00,0.75
9,2,2025-09-01 00:13:27,2025-09-01 00:21:39,2.00,1.16,1.00,N,48,162,1,8.60,1.00,0.50,2.87,0.00,1.00,17.22,2.50,0.00,0.75
10,2,2025-09-01 00:23:13,2025-09-01 00:33:36,1.00,2.47,1.00,N,162,74,1,12.10,1.00,0.50,3.00,0.00,1.00,20.85,2.50,0.00,0.75
11,2,2025-09-01 00:15:08,2025-09-01 00:44:20,1.00,7.99,1.00,N,186,243,1,38.00,1.00,0.50,5.00,0.00,1.00,48.75,2.50,0.00,0.75
12,2,2025-09-01 00:18:30,2025-09-01 00:41:13,4.00,9.24,1.00,N,138,98,2,39.40,6.00,0.50,0.00,0.00,1.00,48.65,0.00,1.75,0.00
13,1,2025-09-01 00:29:42,2025-09-01 00:43:38,1.00,5.60,1.00,N,74,137,4,24.00,4.25,0.50,0.00,0.00,1.00,29.75,2.50,0.00,0.75
14,1,2025-09-01 00:49:04,2025-09-01 00:59:32,1.00,2.10,1.00,N,170,48,1,11.40,4.25,0.50,3.45,0.00,1.00,20.60,2.50,0.00,0.75
15,2,2025-09-01 00:05:55,2025-09-01 00:16:56,2.00,1.59,1.00,N,246,163,2,12.10,1.00,0.50,0.00,0.00,1.00,17.85,2.50,0.00,0.75
16,2,2025-09-01 00:26:42,2025-09-01 00:34:41,1.00,1.29,1.00,N,246,230,1,9.30,1.00,0.50,3.01,0.00,1.00,18.06,2.50,0.00,0.75
17,2,2025-09-01 00:45:03,2025-09-01 00:55:20,2.00,2.06,1.00,N,48,238,1,12.80,1.00,0.50,3.71,0.00,1.00,22.26,2.50,0.00,0.75
18,1,2025-09-01 00:32:51,2025-09-01 00:58:49,1.00,15.80,2.00,N,132,164,1,70.00,3.25,0.50,10.00,6.94,1.00,91.69,2.50,0.00,0.75
19,2,2025-09-01 00:05:20,2025-09-01 00:26:23,2.00,8.01,1.00,N,138,256,2,35.20,6.00,0.50,0.00,0.00,1.00,44.45,0.00,1.75,0.00
20,2,2025-09-01 00:16:56,2025-09-01 00:21:02,3.00,1.49,1.00,N,137,140,1,7.90,1.00,0.50,2.00,0.00,1.00,15.65,2.50,0.00,0.75
21,1,2025-09-01 00:18:57,2025-09-01 00:40:08,0.00,5.10,1.00,N,68,25,1,24.70,4.25,0.50,6.05,0.00,1.00,36.50,2.50,0.00,0.75
22,2,2025-09-01 00:16:42,2025-09-01 00:33:27,1.00,2.10,1.00,N,79,232,1,16.30,1.00,0.50,0.00,0.00,1.00,22.05,2.50,0.00,0.75
23,2,2025-09-01 00:06:03,2025-09-01 00:06:17,1.00,0.00,1.00,N,48,48,4,-3.00,-1.00,-0.50,0.00,0.00,-1.00,-8.75,-2.50,0.00,-0.75
24,2,2025-09-01 00:06:03,2025-09-01 00:06:17,1.00,0.00,1.00,N,48,48,4,3.00,1.00,0.50,0.00,0.00,1.00,8.75,2.50,0.00,0.75
25,2,2025-09-01 00:00:42,2025-09-01 00:22:59,1.00,4.75,1.00,N,246,33,1,24.70,1.00,0.50,6.09,0.00,1.00,36.54,2.50,0.00,0.75
26,2,2025-09-01 00:28:15,2025-09-01 00:38:49,1.00,3.10,1.00,N,229,249,1,14.90,1.00,0.50,5.16,0.00,1.00,25.81,2.50,0.00,0.75
27,2,2025-09-01 00:41:42,2025-09-01 00:41:46,1.00,0.00,5.00,N,230,230,1,34.00,0.00,0.00,7.65,0.00,1.00,45.90,2.50,0.00,0.75
28,2,2025-09-01 00:45:04,2025-09-01 00:52:04,1.00,0.84,1.00,N,230,48,2,8.60,1.00,0.50,0.00,0.00,1.00,14.35,2.50,0.00,0.75
29,2,2025-09-01 00:06:36,2025-09-01 00:17:14,1.00,2.15,1.00,N,261,158,1,12.80,1.00,0.50,3.00,0.00,1.00,21.55,2.50,0.00,0.75
30,2,2025-09-01 00:19:02,2025-09-01 00:24:26,1.00,1.33,1.00,N,158,13,1,7.90,1.00,0.50,2.73,0.00,1.00,16.38,2.50,0.00,0.75
31,2,2025-09-01 00:53:48,2025-09-01 01:01:39,1.00,1.46,1.00,N,144,261,1,10.00,1.00,0.50,3.15,0.00,1.00,18.90,2.50,0.00,0.75
32,1,2025-09-01 00:34:31,2025-09-01 00:54:10,1.00,3.90,1.00,Y,141,90,1,21.20,4.25,0.50,5.35,0.00,1.00,32.30,2.50,0.00,0.75
33,1,2025-09-01 00:29:33,2025-09-01 00:34:08,1.00,1.20,1.00,N,162,107,1,7.20,4.25,0.50,3.25,0.00,1.00,16.20,2.50,0.00,0.75
34,2,2025-09-01 00:02:00,2025-09-01 00:14:22,1.00,2.53,1.00,N,162,148,1,14.90,1.00,0.50,2.00,0.00,1.00,22.65,2.50,0.00,0.75
35,2,2025-09-01 00:19:14,2025-09-01 00:32:15,1.00,3.65,1.00,N,79,48,1,17.00,1.00,0.50,4.55,0.00,1.00,27.30,2.50,0.00,0.75
36,2,2025-09-01 00:53:04,2025-09-01 00:59:02,1.00,1.66,1.00,N,186,142,1,9.30,1.00,0.50,0.00,0.00,1.00,15.05,2.50,0.00,0.75
37,2,2025-09-01 00:03:25,2025-09-01 00:15:06,1.00,1.11,1.00,N,230,164,1,11.40,1.00,0.50,3.43,0.00,1.00,20.58,2.50,0.00,0.75
38,2,2025-09-01 00:13:10,2025-09-01 00:23:45,1.00,2.37,1.00,N,144,186,1,12.80,1.00,0.50,3.71,0.00,1.00,22.26,2.50,0.00,0.75
39,2,2025-09-01 00:24:50,2025-09-01 01:01:36,1.00,8.47,1.00,N,186,225,1,40.80,1.00,0.50,9.31,0.00,1.00,55.86,2.50,0.00,0.75
40,2,2025-09-01 00:00:23,2025-09-01 00:04:25,1.00,0.49,1.00,N,148,79,1,5.80,1.00,0.50,0.00,0.00,1.00,11.55,2.50,0.00,0.75
41,2,2025-09-01 00:26:15,2025-09-01 00:28:42,1.00,0.51,1.00,N,141,141,1,5.10,1.00,0.50,1.00,0.00,1.00,11.10,2.50,0.00,0.00
42,2,2025-09-01 00:08:01,2025-09-01 00:18:22,1.00,2.00,1.00,N,137,79,1,12.10,1.00,0.50,3.57,0.00,1.00,21.42,2.50,0.00,0.75
43,2,2025-09-01 00:13:09,2025-09-01 00:25:55,1.00,1.77,1.00,N,142,186,1,12.80,1.00,0.50,3.71,0.00,1.00,22.26,2.50,0.00,0.75
44,2,2025-09-01 00:20:05,2025-09-01 00:28:14,1.00,1.52,1.00,N,239,140,1,10.70,1.00,0.50,0.78,0.00,1.00,16.48,2.50,0.00,0.00
45,2,2025-09-01 00:30:23,2025-09-01 00:40:55,1.00,2.46,1.00,N,263,239,1,13.50,1.00,0.50,3.70,0.00,1.00,22.20,2.50,0.00,0.00
46,1,2025-09-01 00:10:25,2025-09-01 00:23:31,1.00,2.80,1.00,N,141,74,1,13.50,4.25,0.50,3.85,0.00,1.00,23.10,2.50,0.00,0.75
47,1,2025-09-01 00:46:29,2025-09-01 00:56:31,1.00,1.90,1.00,N,141,142,1,11.40,4.25,0.50,2.00,0.00,1.00,19.15,2.50,0.00,0.75
48,1,2025-09-01 00:19:37,2025-09-01 00:36:07,1.00,3.60,1.00,N,186,263,1,18.40,4.25,0.50,6.05,0.00,1.00,30.20,2.50,0.00,0.75
49,1,2025-09-01 00:33:39,2025-09-01 00:56:17,1.00,10.00,1.00,N,70,161,1,42.20,11.00,0.50,6.00,6.94,1.00,67.64,2.50,1.75,0.75

In [286]:
print(df['tpep_pickup_datetime'].dtype)

datetime64[us]

In [287]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'], errors='coerce')
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'], errors='coerce')

In [288]:
#Confirming if there are trips that with durations being more than a day
df['trip_duration_min'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60
df[(df['trip_duration_min']/60) > 24]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,trip_duration_min
74564,2,2025-09-02 06:32:31,2025-09-03 19:31:17,1.00,18.26,2.00,N,132,226,4,...,0.00,-0.50,0.00,0.00,-1.00,-73.25,0.00,-1.75,0.00,"2,218.77"
74565,2,2025-09-02 06:32:31,2025-09-03 19:31:17,1.00,18.26,2.00,N,132,226,4,...,0.00,0.50,0.00,0.00,1.00,73.25,0.00,1.75,0.00,"2,218.77"
88617,1,2025-09-02 10:49:24,2025-09-03 19:32:21,1.00,0.00,99.00,N,247,247,1,...,0.00,0.50,0.00,0.00,0.00,23.00,0.00,0.00,0.00,"1,962.95"
115647,2,2025-09-02 15:41:00,2025-09-04 14:09:42,1.00,25.06,99.00,N,85,85,1,...,0.00,0.50,0.00,0.00,1.00,25.27,0.00,0.00,0.00,"2,788.70"
125174,1,2025-09-02 16:45:00,2025-09-06 19:22:24,1.00,3.30,99.00,N,125,145,1,...,0.00,0.50,0.00,0.00,0.00,69.00,0.00,0.00,0.00,"5,917.40"
201865,2,2025-09-03 13:02:52,2025-09-04 20:25:56,1.00,0.00,1.00,N,207,113,2,...,0.00,0.50,0.00,0.00,1.00,7.75,2.50,0.00,0.75,"1,883.07"
307572,2,2025-09-04 12:40:42,2025-09-08 12:27:45,1.00,0.00,1.00,N,207,260,2,...,0.00,0.50,0.00,0.00,1.00,4.50,0.00,0.00,0.00,"5,747.05"
315507,2,2025-09-04 14:05:23,2025-09-05 17:34:27,1.00,9.89,2.00,N,132,146,2,...,0.00,0.50,0.00,0.00,1.00,73.25,0.00,1.75,0.00,"1,649.07"
327645,2,2025-09-04 15:14:45,2025-09-08 12:50:47,1.00,2.03,1.00,N,262,129,2,...,0.00,0.50,0.00,0.00,1.00,23.15,2.50,0.00,0.75,"5,616.03"
368822,1,2025-09-04 20:00:00,2025-09-05 21:55:04,1.00,1.30,99.00,N,243,220,1,...,0.00,0.50,0.00,0.00,0.00,48.00,0.00,0.00,0.00,"1,555.07"
450259,2,2025-09-05 16:35:30,2025-09-08 21:19:34,1.00,0.01,2.00,N,132,132,2,...,5.00,0.50,0.00,0.00,1.00,78.25,0.00,1.75,0.00,"4,604.07"
805020,2,2025-09-09 09:30:19,2025-09-15 12:09:31,1.00,3.77,1.00,N,145,132,2,...,0.00,0.50,0.00,0.00,1.00,32.50,0.00,0.00,0.00,"8,799.20"
809964,2,2025-09-09 10:06:45,2025-09-13 19:32:44,1.00,0.00,1.00,N,207,228,2,...,0.00,0.50,0.00,0.00,1.00,4.50,0.00,0.00,0.00,"6,325.98"
814444,2,2025-09-09 11:17:50,2025-09-13 15:27:24,1.00,0.00,1.00,N,207,146,2,...,0.00,0.50,0.00,0.00,1.00,4.50,0.00,0.00,0.00,"6,009.57"
1292063,2,2025-09-13 14:19:55,2025-09-15 04:49:21,1.00,0.56,1.00,N,143,168,2,...,0.00,0.50,0.00,0.00,1.00,9.80,2.50,0.00,0.00,"2,309.43"
1355386,2,2025-09-13 23:37:55,2025-09-16 10:59:06,1.00,0.00,1.00,N,236,236,2,...,1.00,0.50,0.00,0.00,1.00,17.80,2.50,0.00,0.00,"3,561.18"
1547177,1,2025-09-15 21:16:37,2025-09-16 21:47:40,1.00,1.40,99.00,N,87,231,1,...,0.00,0.50,0.00,0.00,0.00,43.00,0.00,0.00,0.00,"1,471.05"
1554712,2,2025-09-15 23:52:13,2025-09-20 10:33:57,1.00,0.00,1.00,N,26,40,2,...,1.00,0.50,0.00,0.00,1.00,16.00,0.00,0.00,0.00,"6,401.73"
1605223,2,2025-09-16 14:39:06,2025-09-18 09:57:55,1.00,0.02,1.00,N,237,197,2,...,0.00,0.50,0.00,0.00,1.00,16.10,2.50,0.00,0.00,"2,598.82"
2227483,1,2025-09-21 21:00:00,2025-09-22 22:29:46,1.00,0.30,99.00,N,49,49,1,...,0.00,0.50,0.00,0.00,0.00,47.00,0.00,0.00,0.00,"1,529.77"
2228335,1,2025-09-21 21:00:44,2025-09-22 22:30:15,1.00,5.10,99.00,N,55,85,1,...,0.00,0.50,0.00,0.00,0.00,61.00,0.00,0.00,0.00,"1,529.52"
2413380,2,2025-09-23 21:08:52,2025-09-25 09:26:47,1.00,10.94,1.00,N,132,82,2,...,1.00,0.50,0.00,0.00,1.00,45.75,0.00,1.75,0.00,"2,177.92"
2451338,2,2025-09-24 11:43:16,2025-09-25 16:48:30,1.00,0.03,1.00,N,207,260,2,...,0.00,0.50,0.00,0.00,1.00,16.40,0.00,0.00,0.00,"1,745.23"
2600492,2,2025-09-25 17:32:58,2025-09-27 14:01:08,1.00,34.13,3.00,N,48,48,2,...,2.50,0.00,0.00,19.36,1.00,224.41,0.00,0.00,0.75,"2,668.17"
2607808,2,2025-09-25 18:12:52,2025-09-28 09:10:35,1.00,2.05,1.00,N,230,265,2,...,2.50,0.50,0.00,0.00,1.00,24.25,2.50,0.00,0.75,"3,777.72"
2759714,1,2025-09-26 23:30:00,2025-09-28 00:53:31,1.00,2.80,99.00,N,46,208,1,...,0.00,0.50,0.00,0.00,0.00,30.00,0.00,0.00,0.00,"1,523.52"
2806203,2,2025-09-27 13:06:44,2025-09-30 10:08:04,1.00,0.00,1.00,N,186,260,2,...,0.00,0.50,0.00,0.00,1.00,14.05,2.50,0.00,0.75,"4,141.33"
3059946,1,2025-09-29 21:33:05,2025-09-30 21:56:08,1.00,1.70,99.00,N,145,202,1,...,0.00,0.50,0.00,0.00,0.00,24.00,0.00,0.00,0.00,"1,463.05"
3173904,2,2025-09-30 21:10:52,2025-10-03 14:49:31,1.00,4.28,1.00,N,234,7,2,...,1.00,0.50,0.00,0.00,1.00,26.95,2.50,0.00,0.75,"3,938.65"
3331058,1,2025-09-05 23:01:31,2025-09-11 10:38:12,NaN,4.60,NaN,None,186,263,0,...,0.00,0.50,0.00,0.00,1.00,24.15,NaN,NaN,0.00,"7,896.68"
3331059,1,2025-09-05 23:42:45,2025-09-11 10:42:26,NaN,4.30,NaN,None,140,148,0,...,0.00,0.50,0.00,0.00,1.00,22.11,NaN,NaN,0.00,"7,859.68"
3346708,1,2025-09-06 11:53:36,2025-09-08 15:02:40,NaN,13.00,NaN,None,90,132,0,...,0.00,0.50,0.00,0.00,1.00,63.29,NaN,NaN,0.00,"3,069.07"
3463906,1,2025-09-09 19:45:26,2025-09-16 16:52:29,NaN,0.90,NaN,None,236,262,0,...,0.00,0.50,0.00,0.00,1.00,13.22,NaN,NaN,0.00,"9,907.05"
3651056,1,2025-09-14 00:58:11,2025-09-15 13:55:57,NaN,4.50,NaN,None,82,140,0,...,0.00,0.50,0.00,0.00,1.00,30.70,NaN,NaN,0.00,"2,217.77"
3748080,6,2025-09-16 20:08:00,2025-09-18 00:36:48,NaN,7.33,NaN,None,75,241,0,...,0.00,0.50,0.00,0.00,0.30,30.24,NaN,NaN,0.00,"1,708.80"
3827473,2,2025-09-19 01:06:49,2025-09-20 19:06:14,NaN,0.00,NaN,None,150,150,0,...,0.00,0.50,0.43,0.00,1.00,12.34,NaN,NaN,0.00,"2,519.42"
3832615,1,2025-09-19 08:35:19,2025-09-22 09:34:56,NaN,3.30,NaN,None,164,88,0,...,0.00,0.50,0.00,0.00,1.00,30.46,NaN,NaN,0.75,"4,379.62"

In [289]:
#Drop rows where passenger count is NaN
df = df.dropna(subset=['passenger_count'])

In [290]:
#Keeping row where passenger counts are not zero
df = df[df['passenger_count'] > 0]

In [291]:
print(df['PULocationID'].dtype)

int32

In [292]:
#Drop Rows where drop of and pick up locations are outside of New York or not known
df = df[~df['PULocationID'].isin([264,265])]
df = df[~df['DOLocationID'].isin([264,265])]

In [293]:
df.dtypes

VendorID                          int32
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int32
DOLocationID                      int32
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
cbd_congestion_fee              float64
trip_duration_min               float64
dtype: object

In [294]:
#Removing rows based on their payment type
#0 - rare and mostly a subscription or special fare; doesnt seem to be there in the dataset
#3 - Its free trips and as such generates no fare
#4 - disputed; so could be incorrect or reversed
#5 - unknown; not real case
#6 - voided trips; generates no fare
df = df[~df['payment_type'].isin([0,3,4,5,6])]

In [295]:
df['payment_type'].unique()

array([1, 2])

In [296]:
df.sort_values(by='fare_amount', ascending=True).head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,trip_duration_min
692260,2,2025-09-08 04:01:37,2025-09-08 04:01:42,1.00,0.00,5.00,N,216,216,2,...,0.00,0.00,0.00,0.00,-1.00,-531.00,0.00,0.00,0.00,0.08
673819,2,2025-09-07 19:53:08,2025-09-07 19:53:17,4.00,0.00,5.00,N,132,132,2,...,0.00,0.00,0.00,0.00,-1.00,-501.00,0.00,0.00,0.00,0.15
336163,2,2025-09-04 16:23:13,2025-09-04 16:28:43,2.00,0.29,5.00,N,216,216,2,...,0.00,0.00,0.00,0.00,-1.00,-501.00,0.00,0.00,0.00,5.50
2553235,2,2025-09-25 10:30:17,2025-09-25 10:31:38,4.00,0.07,5.00,N,45,45,2,...,0.00,0.00,0.00,0.00,-1.00,-454.25,-2.50,0.00,-0.75,1.35
1297146,2,2025-09-13 15:42:57,2025-09-13 15:43:13,1.00,0.00,5.00,N,186,186,2,...,0.00,0.00,0.00,0.00,-1.00,-304.25,-2.50,0.00,-0.75,0.27

In [297]:
#Removing payment type column as it will only contain rows that are paid in cash or by card.
df = df.drop(columns=['payment_type'])

In [298]:
#Removing store_and_fwd_flag as its meant for audit purpose and doesnt really effect fare prices:
df = df.drop(columns=['store_and_fwd_flag'])

In [299]:
#Removing rows where the ratecodeID  is 99 or just NaN to prevent data quality issues.
df = df.dropna(subset=['RatecodeID'])
df = df[~df['RatecodeID'].isin([99])]
df[df['RatecodeID']==99].count()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
PULocationID             0
DOLocationID             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
Airport_fee              0
cbd_congestion_fee       0
trip_duration_min        0
dtype: int64

In [300]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'PULocationID',
       'DOLocationID', 'fare_amount', 'extra', 'mta_tax', 'tip_amount',
       'tolls_amount', 'improvement_surcharge', 'total_amount',
       'congestion_surcharge', 'Airport_fee', 'cbd_congestion_fee',
       'trip_duration_min'],
      dtype='object')

In [301]:
df.isna().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
PULocationID             0
DOLocationID             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
Airport_fee              0
cbd_congestion_fee       0
trip_duration_min        0
dtype: int64

In [302]:
#Inspecting fare prices
pd.set_option('display.float_format', '{:,.2f}'.format) #Remvoing the exponent format
df['fare_amount'].describe()

count   2,915,312.00
mean           19.70
std           190.49
min          -530.00
25%             9.30
50%            13.50
75%            21.90
max       323,800.27
Name: fare_amount, dtype: float64

In [303]:
#There are some extreme outliers......
#To fix this, a fare range will be set from the base fare of $3 to a max of $500
#Why a base of $3? According to NYC.gov, it is the initial charge for a trip.
#Why a max of $500? It is a generous limit but should cover airport, toll and congestion prices

df = df[(df['fare_amount'] >= 3.00) & (df['fare_amount'] <= 500)]

In [304]:
#Checking
df['fare_amount'].describe()

count   2,896,602.00
mean           19.87
std            17.59
min             3.00
25%             9.30
50%            13.50
75%            22.60
max           500.00
Name: fare_amount, dtype: float64

In [305]:
df.shape

(2896602, 19)

In [306]:
df[(df['trip_duration_min']/60) > 24]
#These trips are not realistic as it spans more than a day and as such will be removed. Likely caused by some error, time zone anomalies or just corrupted.
df = df[(df['trip_duration_min']/60) <= 24]
#Ensuring there are no negative or 0 time trips
df = df[df['trip_duration_min'] >0]

In [307]:
#We can remove "improvement_surcharge" and "mta_tax" seem to be fixed attributes or have very little deviation and as such can be removed.
df = df.drop(columns=['mta_tax', 'improvement_surcharge'])

In [308]:
#"Tip_amount" doesn't really dictate the fare so it's not needed and "total_amount" can cause a data leak.
df = df.drop(columns=['tip_amount', 'total_amount'])

In [309]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'PULocationID',
       'DOLocationID', 'fare_amount', 'extra', 'tolls_amount',
       'congestion_surcharge', 'Airport_fee', 'cbd_congestion_fee',
       'trip_duration_min'],
      dtype='object')

In [310]:
#Since all trips now occur within a single day, we only need one column for the day of the week and one column for the month, based on the pickup time.
#Additionally, a "time of day" category (Morning, Afternoon, Evening and Night) will be created using the pickup time, as the start time has a larger impact on fare than the drop-off time.

In [311]:
df['day_of_week'] = df['tpep_pickup_datetime'].dt.day_name()
df['month'] = df['tpep_pickup_datetime'].dt.month_name()
df['year'] = df['tpep_pickup_datetime'].dt.year
df['pickup_hour'] = df['tpep_pickup_datetime'].dt.hour
df['dropoff_hour'] = df['tpep_dropoff_datetime'].dt.hour

In [312]:
def time_of_day(hour):
    if 5 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 17:
        return 'Afternoon'
    elif 17 <= hour < 21:
        return 'Evening'
    else:
        return 'Night'

df['time_of_day'] = df['pickup_hour'].apply(time_of_day)

In [313]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'PULocationID',
       'DOLocationID', 'fare_amount', 'extra', 'tolls_amount',
       'congestion_surcharge', 'Airport_fee', 'cbd_congestion_fee',
       'trip_duration_min', 'day_of_week', 'month', 'year', 'pickup_hour',
       'dropoff_hour', 'time_of_day'],
      dtype='object')

In [314]:
df['month'].unique()

array(['September', 'August', 'October'], dtype=object)

In [315]:
#Since temporal attributes are created there is no need for the 'tpep_pickup_datetime'and 'tpep_dropoff_datetime' attributes
df = df.drop(columns=['tpep_pickup_datetime', 'tpep_dropoff_datetime'])
df.head()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,fare_amount,extra,tolls_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,trip_duration_min,day_of_week,month,year,pickup_hour,dropoff_hour,time_of_day
0,2,1.00,9.92,1.00,138,114,42.90,6.00,0.00,2.50,1.75,0.75,25.95,Monday,September,2025,0,0,Night
1,2,2.00,6.82,1.00,93,157,26.80,1.00,0.00,0.00,0.00,0.00,10.80,Monday,September,2025,0,0,Night
2,2,1.00,3.95,1.00,68,13,19.80,1.00,0.00,2.50,0.00,0.75,16.27,Monday,September,2025,0,0,Night
3,2,1.00,3.14,1.00,234,87,17.70,1.00,0.00,2.50,0.00,0.75,15.03,Monday,September,2025,0,1,Night
4,2,6.00,2.81,1.00,230,151,14.90,1.00,0.00,2.50,0.00,0.75,10.53,Monday,September,2025,0,0,Night

In [4]:
tf = pd.read_csv("Data/taxi_zone_lookup.csv")

In [5]:
tf.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [318]:
#Focus will be on only borough as it is broad and simple to work with, zone is alot more granular and could be useful for complex models. For the time being focus will be on boroughs along with EWR.
tf2 = tf[['LocationID', 'Borough']]
tf2.head()

   LocationID        Borough
0           1            EWR
1           2         Queens
2           3          Bronx
3           4      Manhattan
4           5  Staten Island

In [319]:
df['PU_Borough'] = df['PULocationID'].map(tf2.set_index('LocationID')['Borough'])
df['DO_Borough'] = df['DOLocationID'].map(tf2.set_index('LocationID')['Borough'])

df = df[df['PU_Borough'] != 'EWR']
df = df[df['DO_Borough'] != 'EWR']

In [320]:
df.head()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,fare_amount,extra,tolls_amount,congestion_surcharge,...,cbd_congestion_fee,trip_duration_min,day_of_week,month,year,pickup_hour,dropoff_hour,time_of_day,PU_Borough,DO_Borough
0,2,1.00,9.92,1.00,138,114,42.90,6.00,0.00,2.50,...,0.75,25.95,Monday,September,2025,0,0,Night,Queens,Manhattan
1,2,2.00,6.82,1.00,93,157,26.80,1.00,0.00,0.00,...,0.00,10.80,Monday,September,2025,0,0,Night,Queens,Queens
2,2,1.00,3.95,1.00,68,13,19.80,1.00,0.00,2.50,...,0.75,16.27,Monday,September,2025,0,0,Night,Manhattan,Manhattan
3,2,1.00,3.14,1.00,234,87,17.70,1.00,0.00,2.50,...,0.75,15.03,Monday,September,2025,0,1,Night,Manhattan,Manhattan
4,2,6.00,2.81,1.00,230,151,14.90,1.00,0.00,2.50,...,0.75,10.53,Monday,September,2025,0,0,Night,Manhattan,Manhattan

In [321]:
df = df.drop(columns=['PULocationID', 'DOLocationID'])
df.columns

Index(['VendorID', 'passenger_count', 'trip_distance', 'RatecodeID',
       'fare_amount', 'extra', 'tolls_amount', 'congestion_surcharge',
       'Airport_fee', 'cbd_congestion_fee', 'trip_duration_min', 'day_of_week',
       'month', 'year', 'pickup_hour', 'dropoff_hour', 'time_of_day',
       'PU_Borough', 'DO_Borough'],
      dtype='object')

In [322]:
df.head()

,VendorID,passenger_count,trip_distance,RatecodeID,fare_amount,extra,tolls_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,trip_duration_min,day_of_week,month,year,pickup_hour,dropoff_hour,time_of_day,PU_Borough,DO_Borough
0,2,1.00,9.92,1.00,42.90,6.00,0.00,2.50,1.75,0.75,25.95,Monday,September,2025,0,0,Night,Queens,Manhattan
1,2,2.00,6.82,1.00,26.80,1.00,0.00,0.00,0.00,0.00,10.80,Monday,September,2025,0,0,Night,Queens,Queens
2,2,1.00,3.95,1.00,19.80,1.00,0.00,2.50,0.00,0.75,16.27,Monday,September,2025,0,0,Night,Manhattan,Manhattan
3,2,1.00,3.14,1.00,17.70,1.00,0.00,2.50,0.00,0.75,15.03,Monday,September,2025,0,1,Night,Manhattan,Manhattan
4,2,6.00,2.81,1.00,14.90,1.00,0.00,2.50,0.00,0.75,10.53,Monday,September,2025,0,0,Night,Manhattan,Manhattan

In [323]:
count = df.groupby(df['PU_Borough']).size().rename('row_count')
count

#Only has 17 trips from Staten Island. It could make averages a bit more unstable

PU_Borough
Bronx               1228
Brooklyn           13459
Manhattan        2534765
Queens            284518
Staten Island         35
Name: row_count, dtype: int64

In [324]:
count = df.groupby(df['DO_Borough']).size().rename('row_count')
count

#This one is alot more better.......

DO_Borough
Bronx              11477
Brooklyn          111185
Manhattan        2571612
Queens            139071
Staten Island        660
Name: row_count, dtype: int64

In [325]:
df['month'].unique()

array(['September', 'August', 'October'], dtype=object)

In [326]:
count = df.groupby(df['month']).size().rename('row_count')
count

#Month of the trips are in September.......
#Month as a variable won't be helpful.

month
August             6
October            1
September    2833998
Name: row_count, dtype: int64

In [327]:
df.shape

(2834005, 19)

In [328]:
##Some descriptive stats of numerical variable to find outliers
num = df.select_dtypes(include = ['int64','float64']).columns
df[num].describe()

,passenger_count,trip_distance,RatecodeID,fare_amount,extra,tolls_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,trip_duration_min
count,"2,834,005.00","2,834,005.00","2,834,005.00","2,834,005.00","2,834,005.00","2,834,005.00","2,834,005.00","2,834,005.00","2,834,005.00","2,834,005.00"
mean,1.28,3.25,1.09,19.73,1.63,0.51,2.35,0.16,0.57,17.44
std,0.68,28.78,0.48,17.22,1.92,1.87,0.60,0.50,0.32,27.20
min,1.00,0.00,1.00,3.00,0.00,0.00,0.00,0.00,-0.75,0.02
25%,1.00,1.00,1.00,9.30,0.00,0.00,2.50,0.00,0.75,7.92
50%,1.00,1.69,1.00,13.50,1.00,0.00,2.50,0.00,0.75,13.15
75%,1.00,3.17,1.00,21.90,2.50,0.00,2.50,0.00,0.75,21.48
max,8.00,"46,407.63",5.00,500.00,38.61,134.06,2.50,1.75,0.75,"1,439.82"

In [329]:
#Concerns:
#"cbd_congestion_fee" has negative values
#"trip_distance" has 0 distance trips and a max trip of 48,199.11 which doesnt seem right....
#Even after removing trips with a duration of more than 24 hour, there are some trips that take a whole day

#To prevent issues, these outliers will be removed .....

#Duration
df = df[(df['trip_duration_min'] >= 5) & (df['trip_duration_min'] <= 150)]

#Distance
df = df[(df['trip_distance'] > 0) & (df['trip_distance'] <= 100)]

#These limits are alot more realistic and a bit too generous but should pose no problems.

#The raw fees can also be converted to flags to for potential exploration.

# Flag for airport trips
df['is_airport_trip'] = (df['Airport_fee'] > 0).astype(int)

# Flag for CBD congestion
df['is_cbd_congestion'] = (df['cbd_congestion_fee'] > 0).astype(int)

# Flag for extra charges
df['has_extra'] = (df['extra'] > 0).astype(int)

# Flag for tolls
df['has_toll'] = (df['tolls_amount'] > 0).astype(int)

In [330]:
#Removing the raw fee and unnecessary columns
df = df.drop(columns=['Airport_fee', 'cbd_congestion_fee', 'extra', 'tolls_amount', 'congestion_surcharge', 'year', 'VendorID', 'PU_Borough', 'dropoff_hour',	'pickup_hour','month'])

In [331]:
df.shape

(2534722, 12)

In [332]:
#Checking...
num = df.select_dtypes(include = ['int64','float64']).columns
df[num].describe()

,passenger_count,trip_distance,RatecodeID,fare_amount,trip_duration_min,is_airport_trip,is_cbd_congestion,has_extra,has_toll
count,"2,534,722.00","2,534,722.00","2,534,722.00","2,534,722.00","2,534,722.00","2,534,722.00","2,534,722.00","2,534,722.00","2,534,722.00"
mean,1.28,3.54,1.07,20.86,18.60,0.10,0.79,0.61,0.08
std,0.68,4.32,0.38,16.61,13.72,0.30,0.41,0.49,0.27
min,1.00,0.01,1.00,3.00,5.00,0.00,0.00,0.00,0.00
25%,1.00,1.19,1.00,10.70,9.42,0.00,1.00,0.00,0.00
50%,1.00,1.88,1.00,14.90,14.45,0.00,1.00,1.00,0.00
75%,1.00,3.50,1.00,23.30,22.82,0.00,1.00,1.00,0.00
max,8.00,74.22,5.00,500.00,149.78,1.00,1.00,1.00,1.00

In [333]:
#This seems alot more realistic.

In [334]:
#Rearranging columns for simplicity
columnn = 'fare_amount'

order = [c for c in df.columns if c != columnn]+ [columnn]

df = df[order]
df.head()

,passenger_count,trip_distance,RatecodeID,trip_duration_min,day_of_week,time_of_day,DO_Borough,is_airport_trip,is_cbd_congestion,has_extra,has_toll,fare_amount
0,1.00,9.92,1.00,25.95,Monday,Night,Manhattan,1,1,1,0,42.90
1,2.00,6.82,1.00,10.80,Monday,Night,Queens,0,0,1,0,26.80
2,1.00,3.95,1.00,16.27,Monday,Night,Manhattan,0,1,1,0,19.80
3,1.00,3.14,1.00,15.03,Monday,Night,Manhattan,0,1,1,0,17.70
4,6.00,2.81,1.00,10.53,Monday,Night,Manhattan,0,1,1,0,14.90

In [335]:
#Final Columns
df.columns

Index(['passenger_count', 'trip_distance', 'RatecodeID', 'trip_duration_min',
       'day_of_week', 'time_of_day', 'DO_Borough', 'is_airport_trip',
       'is_cbd_congestion', 'has_extra', 'has_toll', 'fare_amount'],
      dtype='object')

In [336]:
#Final Shape
df.shape

(2534722, 12)

In [337]:
df['day_of_week'].unique()

array(['Monday', 'Sunday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Saturday'], dtype=object)

In [338]:
#Checking Distribution
count = df.groupby(df['DO_Borough']).size().rename('row_count')
count

DO_Borough
Bronx              11076
Brooklyn          108809
Manhattan        2287802
Queens            126394
Staten Island        641
Name: row_count, dtype: int64

In [339]:
#Checking Distribution in Manhattan for trips that were stuck in traffic....
count = df[df['DO_Borough'] == 'Manhattan'].groupby(df['is_cbd_congestion']).size().rename('row_count')
count

is_cbd_congestion
0     416710
1    1871092
Name: row_count, dtype: int64

In [340]:
#Checking Distribution in Staten Island for trips across Time of Day....
count = df[df['DO_Borough'] == 'Staten Island'].groupby(df['time_of_day']).size().rename('row_count')
count

time_of_day
Afternoon    148
Evening      301
Morning       89
Night        103
Name: row_count, dtype: int64

In [341]:
#Saving the file
df.to_csv("module8-exercise1/Taxi_data_8310.csv", index= False )

In [342]:
#---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------